<div class="top">

</div>

<!--
<div class="container mt-4">
  <div class="row">
    <ng-container *ngFor="let item of cart | async">
      <div class="col-md-4">
        <div class="item-card">
          <img [src]="item.image" class="card-img-top item-image" alt="{{item.name}}">
          <h3 class="item-name">{{ item.name }}</h3>
          <h2 class="item-price">{{ item.price }}$</h2>
          <button class="btn btn-primary item-button">Buy</button>
          <button class="btn btn-danger item-button">Remove</button>
        </div>
      </div>
    </ng-container>
  </div>
</div> -->


<div class="container mt-4" *ngIf="(cart | async)?.length; else emptyCartTemplate">
  <div class="row">
    <ng-container *ngFor="let item of cart | async">
      <div class="col-md-4">
        <div class="item-card">
          <img [src]="item.image" class="card-img-top item-image" alt="{{item.name}}">
          <h3 class="item-name">{{ item.name }}</h3>
          <h2 class="item-price">{{ item.price }}$</h2>
          <button class="btn btn-primary item-button">Buy</button>
          <button class="btn btn-danger item-button">Remove</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #emptyCartTemplate>
  <div class="container pt-5 mt-5 mb-5 text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="template m-5 p-4 border rounded shadow">
          <h1>Nothing in your cart</h1>

          <div class="actions">
            <a routerLink="/" class="btn ">
              <span class="glyphicon glyphicon-home"></span>
              Take Me Home
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

